@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary: #FF0000;
}

body {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	/* background: #000000; */
	font-family: 'Black Ops One';
}

/* Header Start */
Header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	padding: 20px 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	font-size: 30px;
	font-weight: 800;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-decoration: none;
	text-transform: uppercase;
}

.header-right {
	display: flex;
	align-items: center;
}

.menu {
	font-size: 2rem;
	color: #FFFFFF;
	transition: 0.5s;
}

.menu.active {
	transform: rotateY(180deg);
}

.nav {
	display: flex;
	margin-right: 50px;
}

.nav li {
	list-style: none;
	margin: 0px 20px;
}

.nav li a {
	padding: 10px;
	color: #FFFFFF;
	transition: 0.5s;
	font-weight: 300;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav li a:hover {
	color: var(--primary);
}

/* Nav Mobile */
.nav-mobile {
	position: absolute;
	top: 0;
	left: 0;
	gap: 30px;
	opacity: 0;
	width: 100%;
	z-index: 990;
	height: 100%;
	transition: 0.5s;
	display: flex;
	visibility: hidden;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	backdrop-filter: blur(20px);
	background: rgba(0, 0, 0, 0.4);
}

.nav-mobile.active {
	opacity: 1;
	visibility: visible;
}

.nav-mobile li {
	list-style: none;
	position: relative;
}

.nav-mobile li a {
	padding: 10px;
	cursor: pointer;
	color: #FFFFFF;
	font-weight: 300;
	transition: 0.5s;
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
}

.nav-mobile li a:hover {
	color: var(--primary);
}

/* Banner Start */
.banner {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 100px;
	overflow: hidden;
	transition: 0.5s;
	perspective: 1000px;
}

.banner::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: radial-gradient(rgba(0, 0, 0, 0.2),
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.7),
			rgba(0, 0, 0, 0.9));
}

.banner .share {
	position: absolute;
	top: 45%;
	left: 50px;
	transform: translateY(-50%);
	color: #FFFFFF;
	font-size: 1.5rem;
	z-index: 1000;
	cursor: pointer;
	transition: 0.5s;
}

.banner .share:hover ::before {
	color: var(--primary);
}

.banner .share::before {
	position: absolute;
	content: '';
	top: 40px;
	left: 50%;
	width: 2px;
	height: 100px;
	background: #FFFFFF;
}

/* Triangle start */
.triangle {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 30vh;
	height: 30vh;
	clip-path: polygon(0 0, 50% 100%, 100% 0);
	cursor: pointer;
	z-index: 900;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.triangle-inverse {
	position: absolute;
	content: '';
	top: 0;
	left: calc(15vh + 5vh);
	width: 30vh;
	height: 30vh;
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	cursor: pointer;
	z-index: 900;
	transition: transform 1s;
	transform-style: preserve-3d;
}

.triangle.two {
	left: calc(30vh + 10vh);
}

.triangle.three {
	left: calc(60vh + 20vh);
}

.triangle.four {
	top: calc(30vh + 5vh);
	left: calc(15vh + 5vh);
}

.triangle.five {
	top: calc(30vh + 5vh);
	left: calc(45vh + 15vh);
}

.triangle.six {
	top: calc(60vh + 10vh);
	left: calc(30vh + 10vh);
}

.triangle.seven {
	top: calc(60vh + 10vh);
	left: calc(60vh + 20vh);
}

.triangle-inverse.two {
	left: calc(45vh + 15vh);
}

.triangle-inverse.three {
	top: calc(30vh + 5vh);
	left: calc(30vh + 10vh);
}

.triangle-inverse.four {
	top: calc(60vh + 10vh);
	left: calc(45vh + 15vh);
}

.triangle-inverse.five {
	top: calc(60vh + 10vh);
	left: calc(75vh + 25vh);
}

/* 3D Flipping Effect */
.triangle:hover,
.triangle-inverse:hover {
	transform: rotateY(180deg);
}

.flip-card {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}

.triangle:hover .flip-card,
.triangle-inverse:hover .flip-card {
	transform: rotateY(180deg)
}

.flip-card-front,
.flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.flip-card-front {
	color: #FFFFFF;
}

.flip-card-back {
	background: #FFFFFF;
	color: #000;
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	padding-top: 100px;
	transform: rotateY(180deg);
}

.flip-card-back p {
	font-size: 10px;
}

.flip-card-back .play {
	font-size: 3rem;
	color: #000;
	transition: 0.5s;
	transform: scale(1);
}

.flip-card-back .play:hover {
	transform: scale(1.5);
}

.triangle img,
.triangle-inverse img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.triangle video,
.triangle-inverse video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.video-container.active {
	border: 1px solid var(--primary);
}

.banner .bg-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
	visibility: hidden;
	opacity: 0;
	transition: 1s;
}

.banner .bg-video.active {
	visibility: visible;
	opacity: 1;
}

/* Banner title */
.banner-title {
	position: absolute;
	right: 0;
	top: 0;
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
}

.banner-title h1 {
	color: #FFFFFF;
	font-size: 10rem;
	text-transform: uppercase;
	letter-spacing: 10px;
	width: 100%;
	z-index: 900;
	font-weight: 800;
	line-height: 0.8;
}

.banner-title .subtitle {
	position: relative;
	color: #FFFFFF;
	letter-spacing: 5px;
	text-transform: uppercase;
	z-index: 900;
}

/* Banner Content */
.banner .content {
	position: absolute;
	z-index: 1000;
	bottom: 100px;
	left: 100px;
	color: #FFFFFF;
	width: 400px;
	height: auto;
}

.banner .content a {
	color: #FFFFFF;
	text-decoration: none;
	display: inline-flex;
	align-items: center;
	gap: 8px;
	margin-bottom: 20px;
	font-size: 1.5rem;
	font-weight: 300;
	text-transform: uppercase;
	transition: 0.5s;
}

.banner .content a:hover {
	color: var(--primary);
}

.banner .content p {
	font-size: 0.7rem;
	width: 70%;
}

/* Social icons */
.social-icons {
	position: absolute;
	bottom: 40px;
	right: 100px;
	color: #FFFFFF;
	display: flex;
	list-style: none;
	z-index: 1000;
	gap: 40px;
}

.social-icons li a {
	color: #FFFFFF;
	font-size: 1.5rem;
	transition: 0.5s;
}

.social-icons li a:hover {
	color: var(--primary)
}

@media (max-width: 500px) {


}